APScheduler==3.6.3
backcall==0.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
cryptography==3.3.2
decorator==4.4.2
docopt==0.6.2
idna==2.10
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
numpy==1.19.3
parso==0.7.1
pickleshare==0.7.5
pipreqs==0.4.10
prompt-toolkit==3.0.8
pycparser==2.20
Pygments==2.7.4
python-telegram-bot==13.1
pytz==2020.4
requests==2.25.0
six==1.15.0
termcolor==1.1.0
tornado==6.1
traitlets==4.3.3
tzlocal==2.1
urllib3==1.26.5
wcwidth==0.2.5
yarg==0.1.9
validators==0.18.1
psycopg2==2.8.6
